
.ecwo-preview-email-wrapper li {
        list-style: none;
    }

    .ecwo-preview-email-wrapper a {
        text-decoration: none;
    }

    .ecwo-builder-inner {
        background-color: #f4f4f4;
        padding: 60px 0 40px;
    }

    .ecwo-column-preview {
        width: 650px;
        margin: 0 auto;
    }

    .ecwo-preview-email-wrapper {
        max-width: 600px;
        width: 600px;
        margin: auto;
    }

    .ecwo-preview-email-container {
        background: none;
        border: none;
    }

    .ecwo-wrap {
        position: relative;
        width: 100%;
        max-width: 100%;
        table-layout: fixed;
        background-color: transparent;
        border-width: 0;
        border-style: none;
        border-color: transparent;
        border-spacing: 0px;
        margin: 0 auto;
        padding: 0;
    }

    .ecwo-wrap-body {
        margin: 26px auto;
    }

    .ecwo-navbar {
        width: 100%;
    }

    .ecwo-content-padding {
        padding-left: 45px;
        padding-right: 45px;
    }

    .ecwo-wrap-header .ecwo-content-padding {
        background: #fff;
        padding: 0;
        -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.01);
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.01);
        border-radius: 8px;
    }

    .ecwo-wrap-body .ecwo-content-padding {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #fff;
        border-radius: 8px;
    }

    .ecwo-wrap-footer .ecwo-content-padding {
        padding-top: 45px;
        padding-bottom: 45px;
        background-color: #fff;
        border-radius: 8px;
    }

    .ecwo-navbar .ecwo-navbar-inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .ecwo-navbar-logo {
        padding: 45px;
    }

    .ecwo-navbar-logo,
    .ecwo-navbar-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
    }

    .ecwo-block-text {
        table-layout: fixed;
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: var(--ecwo-color-text);
        font-size: 12px;
        line-height: 20px;
        font-weight: normal;
        font-family: var(--ecwo-font-family);
        margin: 0 auto;
    }

    .ecwo-navbar-logo-title {
        color: var(--ecwo-color-text) !important;
        font-size: 32px;
        font-weight: 500;
    }

    .ecwo-navbar-menu {
        background-color: #444444;
        padding: 16px;
        border-radius: 0 0 8px 8px;
    }

    .ecwo-navbar-menu-item {
        display: inline-block;
    }

    .ecwo-navbar-menu-link {
        display: block;
        color: #fff !important;
        font-size: 14px;
        font-weight: 400;
        margin-left: 28px;
        text-decoration: underline;
    }

    #ecwo-main-builder h2 {
        margin: 0;
    }

    #ecwo-main-builder h2 {
        color: var(--ecwo-color-primary);
        font-size: 18px;
    }

    .ecwo-link {
        color: var(--ecwo-color-primary) !important;
        text-decoration: underline;
    }

    .ecwo-fake-p {
        font-size: 12px;
        margin: 16px 0;
    }

    .ecwo-footer-content {
        text-align: center;
        /* display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; */
    }

    /* .ecwo-footer-item {
        width: calc(100% / 2 - 20px);
    } */

    /* #ecwo-main-builder .ecwo-footer-item-title {
        color: #000;
    } */

    .ecwo-footer-item-desc {
        font-size: 12px;
        margin: 10px 0;
    }

    .ecwo-footer-support-link {
        color: var(--ecwo-color-primary) !important;
    }

    .ecwo-footer-social-media {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 16px;
    }

    .ecwo-social-media-inner {
        height: 20px;
        width: 20px;
        color: var(--ecwo-color-text) !important;
        margin-right: 8px;
    }

    .ecwo-social-media-icon {
        height: 100%;
        width: 100%;
    }

    .ecwo-footer-unsubscribe {
        margin-top: 16px;
    }
